@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

* {
    margin:0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: lightgray;
}
header {
    background-color: #2A81E2;
    color: white;
}
nav {
    display: none;
}
header h1 {
    font-size: 2em;
    margin: 0 auto;
    text-align: center;
    padding: 10px 10px 5px 10px;
}
.menu-btn {
    padding: 10px;
    display: block;
    margin: 0 auto;
    color: white;
    font-size: 1.3em;
    background-color: transparent;
    border: none;
}

#img-container {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 2em;
    margin: 20px 20px 10px 20px;
}
img {
    border: 5px solid white;
    box-shadow: 2px 2px 10px black;
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin: 10px auto;
}

footer {
    background-color: #2A81E2;
    color: white;
    padding: 10px;
    text-align: center;
}

@media screen and (min-width: 1000px) {
    #img-container {
        max-width: 1000px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        }

}

@media screen and (min-width: 1400px) {

    button p {
        display: none;
    }

    nav {
        display:block;
        text-align: center;
        color: white;
        padding: 0 0 10px 0;
        word-spacing: 2em;
    }

    nav a {
        color: white;

    }

    #img-container {
        max-width: 1400px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        }

}


nav.show {
    display: block;
    text-align: center;
    padding-bottom: 10px;
}

nav.show a {
    display: block;
    color: white;
    padding: 5px;
}

.viewer {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgba(0,0,0,.8);
}

.viewer img {
    display: block;
    border: none;
    margin: 10vh auto;
}

.close-viewer {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    padding: 5px 10px;
    cursor: pointer;
}